<table class="w-full table-fixed border-collapse rounded border border-neutral-600 bg-neutral-800 text-sm shadow-sm">
    <thead class="bg-neutral-700 text-xs uppercase">
    <tr>
        <th scope="col" class="w-16 p-2 text-left font-semibold text-slate-200"></th>
        <th scope="col" class="w-24 p-2 text-left font-semibold text-slate-200">Image</th>
        <th scope="col" class="p-2 text-left font-semibold text-slate-200">Name</th>
        <th scope="col" class="w-32 p-2 text-left font-semibold text-slate-200">Date Added</th>
        <th scope="col" class="w-32 p-2 text-left font-semibold text-slate-200">Processes</th>
        <th scope="col" class="w-32 p-2 text-left font-semibold text-slate-200">Roast Level</th>
        <th scope="col" class="p-2 text-left font-semibold text-slate-200">Origin</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var bean in Beans)
    {
        <tr class="border-b border-neutral-700 odd:bg-neutral-800 even:bg-neutral-700 @(bean.IsExcluded ? "opacity-50" : "")">
            <td class="px-6 py-4">
                    <button @onclick="() => HandleBeanClicked(bean.Id)" class="rounded border border-purple-700 bg-purple-700/50 px-2 py-1 text-purple-50 hover:bg-purple-700">
                    <span class="bi bi-pencil"></span>
                </button>
            </td>
            <td class="px-6 py-4">
                <img src="@bean.ImageURL"
                     class="@bean.ImageClass h-24 w-full object-cover md:h-full md:w-24"
                     alt="@bean.FullName"
                     onerror="this.onerror=null;this.src='/images/missing-image.png'"
                     loading="lazy" />
            </td>
            <td class="px-6 py-4">
                @bean.FullName
            </td>
            <td class="px-6 py-4">
                @bean.DateAdded.ToString("dd MMM yyyy")
            </td>
            <td class="px-6 py-4">
                @EnumHelper.ToCommaDelimitedList(bean.ProcessingMethods)
            </td>
            <td class="px-6 py-4">
                @bean.RoastLevel
            </td>
            <td class="px-6 py-4">
                @if (bean.Origins != null)
                {
                    <ul>
                        @foreach (var origin in bean.Origins)
                        {
                            <li>@origin.GetOriginFullAddress()</li>
                        }
                    </ul>
                }
            </td>
        </tr>
    }
    </tbody>
</table>

@code {
    [Parameter]
    public List<BeanModel> Beans { get; set; } = new ();

    [Parameter]
    public EventCallback<string> OnEditBeanClicked { get; set; }

    private async Task HandleBeanClicked(string beanId)
    {
        await OnEditBeanClicked.InvokeAsync(beanId);
    }
}
