@inject SearchSuggestionService suggServ
@inject TastingNoteService tastingNoteServ
@inject IJSRuntime JSRuntime

<div class="row gx-0">
	<div class="col autocomplete">
		@if (searchSuggestions != null && searchSuggestions.Count != 0 && suggestionsVisible)
		{
			<ul class="options" @onfocus=OnOptionsFocus>
				@foreach (SearchSuggestion suggestion in searchSuggestions)
				{
					@if (navigatingOptions && searchSuggestions[navigatedIndex] == suggestion)
					{
						<li class="option option-hover" @onclick="@(e => OnOptionClicked(suggestion))"><span class="option-text">@suggestion.DisplayName</span></li>
					}
					else
					{
						<li class="option" @onclick="@(e => OnOptionClicked(suggestion))"><span class="option-text">@suggestion.DisplayName</span></li>
					}
				}
			</ul>
		}
	</div>
</div>
<div class="row">
	<div class="col">
		<div id="searchBadges" class="col-auto py-1 my-0 px-2">
			@foreach (var suggestion in acceptedSuggestions)
			{
				<span class="badge bg-coffee me-1 mb-1">
					<span class="d-flex align-items-center">
						@suggestion.DisplayName
						<button class="btn-close btn-close-white ms-2" @onclick="@(e => SuggestionRemoveSelected(suggestion))"></button>
					</span>
				</span>
			}
		</div>
	</div>
</div>

@code {
	[Parameter]
	public List<BeanModel>? Beans { get; set; }

	[Parameter]
	public List<RoasterModel>? Roasters { get; set; }

	[Parameter]
	public EventCallback<string> OnInputTextModified { get; set; }
	[Parameter]
	public EnvironmentSettings.Environment CurEnviroment { get; set; }

	private List<SearchSuggestion>? allSuggestions;
	private List<SearchSuggestion>? searchSuggestions;

	private List<SearchSuggestion> acceptedSuggestions = new();

	private bool focusAfterRender = false;

	public string? inSearchText { get; set; }
	private bool suggestionsVisible = false;
	private bool navigatingOptions = false;
	private int navigatedIndex = 0;

	private bool ctrlHeldDown = false;

	private Stack<SearchSuggestionAction> suggestionActions = new();
	private Stack<SearchSuggestionAction> undoneActions = new();

	private List<TastingNoteModel>? allTastingNotes;

	#region Lifecyle Events
	protected override async Task OnInitializedAsync()
	{
		allTastingNotes = await tastingNoteServ.GetAllTastingNotes(CurEnviroment);
	}

	protected override async Task OnParametersSetAsync()
	{
		if (Roasters != null && Beans != null && allTastingNotes != null)
		{
			allSuggestions = await suggServ.BuildSuggestions(Roasters, Beans, allTastingNotes);
		}
	}

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (focusAfterRender)
		{
			// ElementReference.FocusAsync doesn't seem to work here - so use JS function
			await JSRuntime.InvokeVoidAsync("FocusElement", "inTextSearch");
			focusAfterRender = false;
		}
	}
	#endregion

	public BeanFilter GetFilterFromSuggestions()
	{
		return suggServ.GetFilterFromSuggestions(acceptedSuggestions);
	}

	public string GetSearchFromAcceptedSuggestions()
	{
		string result = "";
		foreach(var suggestion in acceptedSuggestions)
		{
			result += suggestion.DisplayName + " ";
		}

		return result;
	}

	#region Public Event Handlers
	public void HandleInputChanged(ChangeEventArgs args)
	{
		InputChanged(args);
	}

	public void HandleKeyDown(KeyboardEventArgs args)
	{
		InputKeyDown(args);
	}

	public void HandleKeyUp(KeyboardEventArgs args)
	{
		InputKeyUp(args);
	}

	public void HandleInputFocused(FocusEventArgs args)
	{
		OnOptionsFocus(args);
	}

	public void HandleInputBlurred(FocusEventArgs args)
	{
		OnInputBlur(args);
	}
	#endregion

	public void SetSuggestionsVisible(bool isVisible)
	{
		suggestionsVisible = isVisible;
	}

	#region Input Events
	private void InputChanged(ChangeEventArgs args)
	{
		if (allSuggestions == null || args == null || args.Value == null)
		{
			return;
		}

		inSearchText = args.Value.ToString();

		SearchSuggestion? curSelected = null;
		if (navigatingOptions && searchSuggestions != null && searchSuggestions.Count < navigatedIndex)
		{
			curSelected = searchSuggestions[navigatedIndex];
		}

		string? newSearch = args.Value.ToString();

		if (String.IsNullOrEmpty(newSearch) || newSearch.Trim().Length == 0)
		{
			searchSuggestions?.Clear();
			return;
		}

		searchSuggestions = suggServ.GetSuggestionMatches(allSuggestions, newSearch, acceptedSuggestions);

		// Update navigated selection for new searchSuggestions
		if (navigatingOptions && searchSuggestions != null)
		{
			if (curSelected != null && searchSuggestions.Contains(curSelected))
			{
				navigatedIndex = searchSuggestions.IndexOf(curSelected);
			}
		}
	}

	private void InputKeyDown(KeyboardEventArgs args)
	{
		if (args.Code == "Tab")
		{
			GotInputKeyTab();
		}

		// Arrows
		if (suggestionsVisible)
		{
			if (args.Code == "ArrowDown")
			{
				GotInputKeyArrowDown();
			}

			if (args.Code == "ArrowUp")
			{
				GotInputKeyArrowUp();
			}
		}

		if (args.Code.StartsWith("Control"))
		{
			ctrlHeldDown = true;
		}

		if (args.Code == "KeyZ")
		{
			GotInputKeyZ();
		}

		if (args.Code == "KeyY")
		{
			GotInputKeyY();
		}
	}

	private void InputKeyUp(KeyboardEventArgs args)
	{
		if (args.Code.StartsWith("Control"))
		{
			ctrlHeldDown = false;
		}
	}
	#endregion

	#region Got Input
	private void GotInputKeyTab()
	{
		if (searchSuggestions != null && searchSuggestions.Count > 0)
		{
			if (navigatingOptions)
			{
				ChooseSuggestion(searchSuggestions[navigatedIndex]);
			}
			else
			{
				ChooseSuggestion(searchSuggestions[0]);
			}
		}
	}

	private void GotInputKeyArrowDown()
	{
		if (navigatingOptions)
		{
			if (searchSuggestions?.Count >= navigatedIndex)
			{
				navigatedIndex++;
			}
		}
		else
		{
			navigatingOptions = true;
			navigatedIndex = 0;
		}
	}

	private void GotInputKeyArrowUp()
	{
		if (navigatingOptions)
		{
			navigatedIndex--;
			if (navigatedIndex <= -1)
			{
				navigatingOptions = false;
			}
		}
		else
		{
			if (searchSuggestions != null)
			{
				navigatedIndex = searchSuggestions.Count - 1;
				navigatingOptions = true;
			}
		}
	}

	private void GotInputKeyZ()
	{
		if (ctrlHeldDown)
		{
			SearchSuggestionAction? actionToUndo;
			if (suggestionActions.TryPop(out actionToUndo))
			{
				if (actionToUndo != null && actionToUndo.Suggestion != null)
				{
					undoneActions.Push(actionToUndo);

					switch (actionToUndo.Type)
					{
						case SearchSuggestionAction.ActionType.Added:
							RemoveSuggestion(actionToUndo.Suggestion);
							return;
						case SearchSuggestionAction.ActionType.Removed:
							AddSuggestion(actionToUndo.Suggestion);
							return;
					}
				}
			}
		}
	}

	private void GotInputKeyY()
	{
		if (ctrlHeldDown)
		{
			SearchSuggestionAction? actionToRedo;

			if (undoneActions.TryPop(out actionToRedo))
			{
				if (actionToRedo != null && actionToRedo.Suggestion != null)
				{
					suggestionActions.Push(actionToRedo);

					switch (actionToRedo.Type)
					{
						case SearchSuggestionAction.ActionType.Added:
							AddSuggestion(actionToRedo.Suggestion);
							return;
						case SearchSuggestionAction.ActionType.Removed:
							RemoveSuggestion(actionToRedo.Suggestion);
							return;
					}
				}
			}
		}
	}
	#endregion

	#region User Suggestion Selection
	private void ChooseSuggestion(SearchSuggestion suggestion)
	{
		string textAfterRemoval = RemoveMatchingText(suggestion);
		OnInputTextModified.InvokeAsync(textAfterRemoval);

		suggestionActions.Push(new SearchSuggestionAction(suggestion, SearchSuggestionAction.ActionType.Added));

		AddSuggestion(suggestion);

		if (searchSuggestions != null)
		{
			searchSuggestions.Clear();
		}

		navigatingOptions = false;
		focusAfterRender = true;
	}

	// Remove the greatest continuous text that matches the selected suggestion
	// E.g. Suggestion, "Ethiopia" is chose
	// Input: "Ethiopia" becomes ""
	// Input: "Other words Ethiopia" becomes "Other words"
	// Input: "Ethiopian Ethiopia" becomes "Ethiopian" (Ethiopia matches pattern but "Ethiopian Ethiopia" does not)
	// Input: "Ethiopian Other words Ethiopia" becomes "Ethiopian Other words"
	private string RemoveMatchingText(SearchSuggestion suggestion)
	{
		if (String.IsNullOrEmpty(inSearchText))
		{
			return "";
		}

		List<string> searchTerms = inSearchText.Split(' ').ToList();

		// Work back to front
		string lastSuccessfulLargestTerm = "";

		if (allSuggestions == null)
		{
			lastSuccessfulLargestTerm = searchTerms[0];
		}
		else
		{
			for (int i = searchTerms.Count - 1; i >= 0; i--)
			{
				string largestTerm = "";
				for (int j = i; j < searchTerms.Count; j++)
				{
					largestTerm += searchTerms[j];
					// Defaults to 10 options which is what the user sees - don't want to compare against suggestions that the user doesn't see
					List<SearchSuggestion> validSuggestions = suggServ.GetSuggestionMatches(allSuggestions, largestTerm, acceptedSuggestions);

					if (validSuggestions.Where(vs => vs.DisplayName == suggestion.DisplayName && vs.SuggestionCategory == suggestion.SuggestionCategory).Any())
					{
						lastSuccessfulLargestTerm = largestTerm;
					}
				}
			}
		}

		inSearchText = inSearchText.Replace(lastSuccessfulLargestTerm, String.Empty);

		return inSearchText;
	}

	private void OnOptionClicked(SearchSuggestion suggestion)
	{
		ChooseSuggestion(suggestion);
	}
	#endregion

	#region User Suggestion Removal
	private void SuggestionRemoveSelected(SearchSuggestion remSuggestion)
	{
		suggestionActions.Push(new SearchSuggestionAction(remSuggestion, SearchSuggestionAction.ActionType.Removed));

		RemoveSuggestion(remSuggestion);
	}
	#endregion

	#region Edit Suggestion Lists
	private void AddSuggestion(SearchSuggestion newSuggestion)
	{
		acceptedSuggestions.Add(newSuggestion);
		allSuggestions?.Remove(newSuggestion);
	}

	private void RemoveSuggestion(SearchSuggestion remSuggestion)
	{
		acceptedSuggestions.Remove(remSuggestion);
		allSuggestions?.Add(remSuggestion);
	}
	#endregion

	#region Input Blur Focus
	private void OnInputBlur(FocusEventArgs args)
	{
		// Fixes issue where when an option is clicked - it fires this function first
		Thread.Sleep(100);
		suggestionsVisible = false;
	}

	private void OnOptionsFocus(FocusEventArgs args)
	{
		suggestionsVisible = true;
	}

	private void OnInputFocus(FocusEventArgs args)
	{
		suggestionsVisible = true;
	}
	#endregion
}
