@if(bean != null)
{
	<div class="card-body pt-1">
		<div class="row d-flex justify-content-start pb-2">
			<h5 class="card-title text-center mb-0">
				@bean.FullName
			</h5>
			
			<div class="mt-1 quick-properties text-center justify-content-center">
				<small>@((MarkupString)bean.GetQuickProperties())</small>
			</div>

			<hr class="my-1" />

			<div class="px-0 mt-1 mb-2 col-12">
				<BeanBadges bean="bean"></BeanBadges>
			</div>

		</div>
		<div class="row">
			<div class="col-4 p-0 m-0">
				@if (!String.IsNullOrEmpty(bean.ImageURL))
				{
					<img src="@bean.ImageURL" class="rounded beansImage @bean.ImageClass" alt="@bean.FullName">
				}
			</div>
			<div class="col-7 ms-2">
				
				<div class="row">
					@if (bean.Origins != null)
					{
						<ul class="list-group mx-0 mb-2">
							@foreach (SourceLocation origin in bean.Origins)
							{
								@if (origin.Country != SourceCountry.UNKNOWN)
								{
									<li class="list-group-item py-1">
										@BeanOrigin.GetOriginLongDisplay(origin, true)
									</li>
								}
							}
						</ul>

						<ul class="list-group mx-0 mb-2">
							@foreach (SourceLocation origin in bean.Origins)
							{
								@if(origin.Continent != null && origin.Country == SourceCountry.UNKNOWN)
								{
									<li class="list-group-item py-1">
										@BeanOrigin.GetOriginLongDisplay(origin, true)
									</li>
								}
							}
						</ul>
					}

				</div>
				@if(bean.IsSupportingCause)
				{
					<div class="row mb-1">
						<span class="px-0"><b>Supports:</b> @bean.SupportedCause</span>
					</div>
				}
				<div class="row">
					@if (bean.TastingNotes != null && bean.TastingNotes.Count > 0)
					{
						<span class="px-0"><b>Tasting Notes:</b> @String.Join(", ", @bean.TastingNotes)</span>
					}
				</div>
			</div>
		</div>
	</div>
}

@code {
	[Parameter]
	public BeanModel bean { get; set; }
}
