@inject BeanService beanServ
@inject RoasterService roasterServ
@inject BeanSortingService sortServ
@using System.Diagnostics

@if (listings != null)
{
	<div class="row mb-3 justify-content-center">
		<small class="text-center text-faded">@listings.Count results (@timeElapsedDisplay)</small>
	</div>
	<div class="row row-cols-1 row-cols-md-3 gy-4 justify-content-center">
		@foreach (BeanListingModel listing in listings)
		{
			<div class="card mx-3 shadow px-3 py-1">
				<div class="card-header text-center">
					<h5 class="card-title mb-0">
						@if (!String.IsNullOrEmpty(listing.Roaster.ImageURL))
						{
							<img src="@listing.Roaster.ImageURL" class="rounded roasterImage me-2 @listing.Roaster.ImageClass" alt="@listing.Roaster.Name">
						}
						@listing.Roaster.Name
					</h5>
				</div>
				<BeanCardBody bean="listing.Bean"></BeanCardBody>
				<div class="card-footer d-flex justify-content-between">
					<a href="@listing.Bean.ProductURL" target="_blank" class="btn btn-primary">
						<span class="bi bi-box-arrow-up-right"></span>
						$@listing.Bean.PriceBeforeShipping.ToString("0.00")
					</a>
					<button class="btn btn-primary btn-sm" @onclick="@(e => EditBean(listing.Bean))"><span class="bi bi-pencil"></span></button>
				</div>
			</div>
		}
	</div>

	<EditBeanForm @ref="editBeans" OnBeanUpdated="HandleBeanEdited" OnBeanDeleted="HandleBeanDeleted"></EditBeanForm>
}
else
{
	<div class="spinner-border text-light" role="status">
		<span class="visually-hidden">Loading...</span>
	</div>
	<small class="text-center text-faded">Loading beans...</small>
}

@code {
	private EditBeanForm editBeans;

	private List<BeanModel>? beans;

	private BeanFilter? curFilter;
	private Dictionary<string, RoasterModel> roasters;

	private List<BeanListingModel> listings = new();

	private Stopwatch stopwatch = new();
	private string timeElapsedDisplay = "";

	private SortMethod? activeMethod;

	protected override async Task OnInitializedAsync()
	{
		roasters = new Dictionary<string, RoasterModel>();
		var allRoasters = await roasterServ.GetRoastersFromDb();
		foreach (RoasterModel roaster in allRoasters)
		{
			roasters[roaster.Id] = roaster;
		}
		await GetData();
	}

	private async Task GetData()
	{
		stopwatch.Restart();

		if (curFilter == null)
		{
			beans = await beanServ.GetBeansByFilter(new BeanFilter()
				{
					IsExcluded = new FilterValueBool(true, false),
					IsInStock = new FilterValueBool(true, true)
				});
		}
		else
		{
			beans = await beanServ.GetBeansByFilter(curFilter);
		}

		listings.Clear();

		foreach (BeanModel bean in beans)
		{
			listings.Add(new BeanListingModel()
				{
					Bean = bean,
					Roaster = bean.MongoRoasterId != null ? roasters[bean.MongoRoasterId] : new RoasterModel()
				});
		}

		ApplySort();

		stopwatch.Stop();
		timeElapsedDisplay = stopwatch.ElapsedMilliseconds.ToString() + " ms";

		StateHasChanged();
	}

	private void ApplySort()
	{
		if (activeMethod == null)
		{
			listings = sortServ.SortBeanListings(listings, new SortMethod() { SortByField = SortMethod.SORT_FIELD.DEFAULT });
		}
		else
		{
			listings = sortServ.SortBeanListings(listings, activeMethod);
		}

		StateHasChanged();
	}

	private async Task EditBean(BeanModel clickedBean)
	{
		await editBeans.EditBean(clickedBean);
	}

	private async Task HandleBeanEdited(string beanName)
	{
		await RefreshData();
	}

	private async Task HandleBeanDeleted(string beanName)
	{
		await RefreshData();
	}

	public void SetActiveSort(SortMethod method)
	{
		activeMethod = method;
		ApplySort();
	}

	public async Task RefreshData()
	{
		await GetData();
	}

	public async Task ApplyFilter(BeanFilter newFilter)
	{
		curFilter = newFilter;
		await RefreshData();
	}
}
